/* body{
    background-image: url("https://www.shutterstock.com/image-photo/on-dark-wooden-background-multicolored-260nw-2068839749.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */